.page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;;
  }

  .input{
    font-size: 1rem;
    padding: 10px;
  }
  .btn{
    width: 200px;
    padding:10px;
  }
  .buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  